player-connection-mode=Listen
player-connection-guid=4199928235
player-connection-debug=0
player-connection-project-name=Vaccination Station
player-connection-ip=172.21.160.1
player-connection-ip=192.168.178.54
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=533b0fb7d4fa4f1cb7292ffdfa27ffc2
