player-connection-mode=Listen
player-connection-guid=2593791307
player-connection-debug=0
player-connection-project-name=Vaccination Station
player-connection-ip=172.31.80.1
player-connection-ip=192.168.178.54
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=68cce87d14cb4571973da4dcf6c469c5
